.root {
    -fx-background-color: #4a4949; /* dark gray */
    -fx-font-family: "Segoe UI", sans-serif;
}

.menu-bar {
    -fx-background-color: #2e2e2e;
}

.menu-bar .label {
    -fx-text-fill: white;
}

.menu-item {
    -fx-text-fill: white;
    -fx-background-color: #2e2e2e;
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: #58d68d;
}

.search-bar {
    -fx-padding: 10;
    -fx-background-color: #4a4949;
}

.search-field {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #2e2e2e;
    -fx-background-radius: 5;
    -fx-border-color: transparent;
}

.search-button {
    -fx-background-color: #58d68d; /* light green */
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.search-button:hover {
    -fx-background-color: #45c179;
}

.content {
    -fx-background-color: #121212;
}
